{% extends "layout/base.html" %}

{% load static %}

{% block content %}
<!-- Page Wrapper -->
  <div id="wrapper">

    {% include "layout/sidebar.html" %}

    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Include Topbar -->
        {% include "layout/topbar.html" %}
        
        <!-- For add html when extend this template -->
        <div id="app">
          {% block app %}
          {% endblock %}
        </div>
        
        <!-- Include Footer -->
        {% include "layout/footer.html" %}

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Include Modal User logout -->
  {% include "layout/logout.html" %}

{% endblock %}